.bubble {
  animation: fadeInAnimation 2s ease-in-out;
  position: relative;
  /* &:before,
  &:after {
    content: '';
    position: absolute;
    display: none;
  }
  &:after {
    content: attr(data-title);
    color: #fff;
    
    top: -30px;
    right: -250px;
    height: 100px;
    width: 150px;
    padding: 5px;
    background: #000;
  }
  &:hover {
    &:before,
    &:after {
      display: inline-block;
    }
  } */
  &:hover{
    &:before {
    content: attr(data-title);
    position: absolute;
    background-color: yellow;
    top: 100%;
    width: 200px;
    white-space: normal;
    word-spacing: 200px; 
  }
}
}
.label {
  animation: fadeInAnimation 4s ease-in-out;
}
.bubble:hover {
  stroke-width: 1px;
  stroke: #ffffff;
}

.bubble:has(+ text:hover) {
  stroke-width: 1px;
  stroke: #ffffff;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
