.bubble {
  animation: fadeInAnimation 2s ease-in-out;
  position: relative;
  &:hover{
    stroke-width: 1px;
    stroke: #ffffff;
    &:before {
    content: attr(data-title);
    position: absolute;
    background-color: yellow;
    top: 100%;
    width: 200px;
    white-space: normal;
    word-spacing: 200px; 
  }
}
}
.label {
  animation: fadeInAnimation 4s ease-in-out;
}

.bubble:has(+ text:hover) {
  stroke-width: 1px;
  stroke: #ffffff;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
