.bubble {
  animation: fadeInAnimation 2s ease-in-out;
}
.label {
  animation: fadeInAnimation 4s ease-in-out;
}
.bubble:hover {
  stroke-width: 1px;
  stroke: #ffffff;
}

.bubble:has(+ text:hover) {
  stroke-width: 1px;
  stroke: #ffffff;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
